{{!-- 提示控件 --}}

<div id="modal-only-message" class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="text-center modal-body">
                <h4 class="modal-title"></h4>
            </div>
        </div>
    </div>
</div>
