<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/share.css">
    <title>{{title}}</title>
    {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>

<body>
    {{!-- now navbar --}}
    <nav class="navbar navbar-default navbar-fixed-top affix-top" data-spy="affix" data-offset-top="1" role="navigation">

        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/img/favicon.ico" alt="logo">
                </a>

                <input name="title" id="input-title" value="{{post.title}}" class="input-title" required="required" maxlength="40" placeholder="title:">

                
            </div>
                <div class="navbar-btn navbar-right" role="group">
                    <a id="btn-drop" class="hidden-xs btn btn-md btn-default">Drop</a>
                    {{#if post._id}}
                    <a id="btn-save" class=" btn btn-default">Save</a>
                    {{else}}
                    <button id="btn-draft" class="hidden-xs btn btn-md btn-default">Save as draft</button>
                    <a id="btn-publish" class=" btn btn-default">Publish</a>
                    {{/if}}
                </div>


        </div>


    </nav>
    {{> user-message}}
    {{{body}}}


</body>

</html>