<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/share.css">
    <script>
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1,                 //月份 
                "d+": this.getDate(),                    //日 
                "h+": this.getHours(),                   //小时 
                "m+": this.getMinutes(),                 //分 
                "s+": this.getSeconds(),                 //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds()             //毫秒 
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        }
        function writeTime(time) { document.write(new Date(time).format("yyyy-MM-dd hh:mm:ss").toString()) }
    </script>
    <title>{{title}}</title>
    {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>

<body>
    {{!-- now navbar --}}
    <nav class="navbar navbar-default navbar-fixed-top affix-top" data-spy="affix" data-offset-top="1" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/img/favicon.ico" alt="logo">
                    <span class="brand">Pakho Leung's Nest</span>
                </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="https://github.com/Pakhoalot/iblog">Github</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                            <a class="dropdown-triangle" href=""></a>
                            {{!-- <li style="min-width: 200px;">
                                <a class="switch-label" style="display: inline-block;">Lang</a>
                                <div class="switch-group" style="display: inline-block; padding: 3px 20px 3px 0px;">
                                    <a class="switch" href="">Lang</a>
                                    <a class="switch" href="">En</a>
                                </div>
                            </li> --}}
                            <li><a href="">中文/English</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    {{#if user}}
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>

    </nav>
    {{> user-message}}

    {{{body}}}


</body>

</html>