<link rel="stylesheet" href="/css/admin.css">
<div class="main-panel">
    <div class="container-fluid">
        {{> admin-sidebar}}
        <div class="content">
            <div class="article-container">
                <div class="article-title">
                    <div class="main-title">
                        <h1>海豚与水母</h1>
                    </div>
                </div>
                <div class="">
                    <div class="article-info">
                        <h4>
                            <span class="label label-default">水母</span>
                            <span class="label label-default">海豚</span>
                        </h4>
                        <div class="date-author">
                            <span class="date">September 16, 2018 2:34 PM</span><span>&nbsp;</span><a href="#">PakhoLeung</a>
                        </div>
                    </div>


                    <div id="article-content" class="article-content">
                        <p>如果你是一条海豚, 那我就做一只水母.<br>你畅游的时候, 我用力弹,<br>你跃出水面时, 我用力弹,<br>你潜入海时, 我用力弹,<br>我不管,
                            反正就是弹.<br><img src="http://localhost:3002/tmp/d78cd5fa7382528.jpg" alt="" class="img-responsive"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{{> footer}}