{{!-- < main --}} <link rel="stylesheet" href="/css/lib/simplemde.min.css">
    <link rel="stylesheet" href="/css/edit.css">
    <div class="container-fluid edit-wrapper">
        <textarea name="md" id="inputmd" class="form-control" rows="3" max-length="100" required="required"></textarea>

    </div>
    {{!-- modal --}}
    {{> modal-publish}}
    {{> modal-upload}}
    {{> footer}}

    <script src="/js/lib/simplemde.min.js"></script>
    <script src="/js/edit/edit.js"></script>