

<link rel="stylesheet" href="css/error.css">


<div class="errmessage container">
    <h1 class="message">{{ message }}</h1>
    <p class="statuscode">{{ error.status }}</p>
    <p class="stack">{{ error.stack }}</p>

</div>

{{> bottom-photo}}