{{!-- < main --}} 
<div class="container">

  <div class="row">
    <div class="col-sm-10 col-md-9">

      <ul class="list-group">
        <li id="note-32693344" data-note-id="32693344" class="have-img">
          <a class="wrap-img" href="/p/1b0dfaa2c865" target="_blank">
            <img data-echo="//upload-images.jianshu.io/upload_images/9866961-d516869b9f1c5767.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240"
              class="img-blur" src="//upload-images.jianshu.io/upload_images/9866961-d516869b9f1c5767.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
              alt="120" />
          </a>
          <div class="content">
            <a class="title" target="_blank" href="/p/1b0dfaa2c865">李克富 || 幽默与撒娇（1）</a>
            <p class="abstract">
              从心理动力学的角度讲，幽默和撒娇都属于自我防御机制。但我更喜欢将其作为判断心理健康的尺度：一个具有幽默感的男人心理健康水平一定很高，一个女人撒娇...
            </p>
            <div class="meta">
              <a class="nickname" target="_blank" href="/u/8e87e10671e7">李克富</a>
              <a target="_blank" href="/p/1b0dfaa2c865#comments">
                <i class="iconfont ic-list-comments"></i> 93
              </a> <span><i class="iconfont ic-list-like"></i> 84</span>
              <span><i class="iconfont ic-list-money"></i> 84</span>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-sm-2 col-md-3">

    </div>
  </div>

  </div>