/* 
    article-title
*/

.main-title h1 {
    font-size: 60px;
}

.sub-title {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}

.article-tag h2 {
    font-size: 40px;
}

.date-author {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    padding-bottom: 20px;
}

.summary,
.article-content {
    padding-top: 10px;
    color: #2f2f2f;
    word-break: break-word!important;
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    
}
.summary {
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}
pre {
    border: none;
    background-color: transparent;
    padding: 10px 0px;
    
}
pre code.hljs{
    border-radius: 4px;
    padding: 16px;
}
.sidebar {
    width: 175px;
}
.sidebar h5 {
    font-size: 16px;
}

.sidebar .about {
    background: rgb(248, 248, 248);
    padding: 10px;
    border-radius: 4px;
}

.sidebar p,
.sidebar li {
    list-style: none;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar ul {
    padding: 0;
}

.sidebar > *{
    margin-bottom: 30px;
}

.sidebar.affix {
    top: 60px;
}

@media(max-width:992px){
    .sidebar {
        display: none;
    }
}


@media(min-width:992px){
    .container.article-container {
        width: 750px;
    }
}