body {
  padding: 50px 0 50px 0;
  overflow: auto;
}

.navbar.navbar-default {
  margin: 0;
}

.CodeMirror {
  height: 500px;
  /*SimpleMDE的高度*/
}
.CodeMirror-fullscreen {
    top:100px;    
}
.editor-toolbar.fullscreen{
    top: 50px;
}
.editor-statusbar {
    position: fixed;
    right: 0;
    z-index: 100;
    top: 70px;
}
.editor-preview-side {
    top:100px;
}
.editor-preview-side.editor-preview-active-side img{
    width: 100%;
}
.navbar.navbar-default #input-title {
    display: inline-block;
    max-width: 500px;
    height: 40px;
    border: 0px;
    font-size: 22px;
    margin: 5px 5px;
    border-bottom: #ccc solid 2px;
    color: #777;

}
.navbar.navbar-default .navbar-header{
    float: left;
}
.navbar.navbar-default .navbar-btn {
    float: right;
}
.navbar.navbar-default #input-title:focus {
    outline: 0;
}

.navbar.navbar-default .navbar-btn .btn,
.btn.btn-default.btn-simple{
    border: none;
    color: #777;
    outline: 0;
}

.navbar.navbar-default .navbar-btn .btn:hover,
.navbar.navbar-default .navbar-btn .btn:active,
.navbar.navbar-default .navbar-btn .btn:focus,
.btn.btn-default.btn-simple:hover,
.btn.btn-default.btn-simple:active,
.btn.btn-default.btn-simple:focus {
    background-color: transparent;
    color: #444;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.navbar.navbar-default .navbar-btn .btn#btn-draft,
.navbar.navbar-default .navbar-btn .btn#btn-drop {
    margin-top: 4px;
}

.navbar.navbar-default .navbar-btn .btn#btn-save,
.navbar.navbar-default .navbar-btn .btn#btn-publish {
    margin-left: 20px;
    font-size: 20px;
}

@media(max-width: 768px){
    .navbar.navbar-default #input-title {
        max-width: 300px;
    
    }

}

@media(max-width: 550px){
    .editor-statusbar {
        display: none;
    }
}