/* 保证sticky footer 覆盖原生字体 */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 100px;
  padding-bottom: 150px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.bottom-photo {
  position: absolute;
  bottom: 0;
  /* height: auto; */
  max-width: 100%;
  z-index: -2;
}

.bottom-photo img {
  max-width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  text-align: center;
  background-color: rgb(37, 37, 37);
}

.footer p {
  color: rgb(129, 129, 129);
  margin-top: 10px;
}

/* 调整navbar */
ul.nav {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar .navbar-brand {
  padding: 5px 15px;
  margin-left: 0px;
}

.nav.navbar-nav {
  padding-right: 0px;
}

.navbar .navbar-brand img {
  height: 40px;
  display: inline-block;
  padding-right: 5px;
  padding-left: 15px;
}

button.navbar-toggle {
  border: 0px;
}

.navbar.navbar-default {
  background-color: transparent;
  border: 0;
  transition: all 0.3s ease-out;
}

.navbar.navbar-fixed-top::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  z-index: -1;
}

.navbar.navbar-default.affix {
  background-color: white;
}

.navbar.navbar-fixed-top.affix::before {
  opacity: 1;
}

.navbar.navbar-default .dropdown-menu {
  left: 0;
  border-radius: 5px;
  top: calc(100% + 10px);
  padding: 10px;
}

.navbar.navbar-default .new-article-btn {
  border-radius: 18px;
  padding: 5px 11px;
  margin: 10px 0px;
  background-color: #10d69b;
  color: white;
  font-weight: bold;
}

.navbar.navbar-default .new-article-btn:hover,
.navbar.navbar-default .new-article-btn:active{
  background-color: #11c58f;
  color: white;
}

.navbar.navbar-default .dropdown-menu>li a {
  color: #555;
}

.navbar.navbar-default .dropdown-menu>li a:hover {
  background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}

@media (max-width: 750px) {
  .navbar.navbar-default {
    background-color: white;
  }
}

@media (min-width: 750px) {
  .nav.navbar-nav>li.underline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #777;
    transition: 0.3s all ease-in-out;
  }

  .nav.navbar-nav>li.underline:hover::before {
    width: 100%;
    left: 0;
  }

  .nav.navbar-nav>li.underline:hover~li.underline::before {
    left: 0;
  }

  .navbar.navbar-default .dropdown-menu>.dropdown-triangle {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ccc;
    position: absolute;
    left: 28px;
    top: -10px;
  }

  .navbar.navbar-default .dropdown-menu>.dropdown-triangle::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white;
    position: absolute;
    left: -10px;
    top: 1px;
  }
}

/* navbar end */
